@model Pager
@{
    Layout = null; 
}

<div class="row">
    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="dataTables_length" id="kt_ecommerce_products_table_length">
            <label>
                <select class="form-select form-select-sm form-select-solid" id="PagerAdetSelect">
                    <!option value="5" @(Model.PageSize == 5 ? "selected" : "")>5 adet</!option>
                    <!option value="10" @(Model.PageSize == 10 ? "selected" : "")>10 adet</!option>
                    <!option value="25" @(Model.PageSize == 25 ? "selected" : "")>25 adet</!option>
                    <!option value="50" @(Model.PageSize == 50 ? "selected" : "")>50 adet</!option>
                    <!option value="100" @(Model.PageSize == 100 ? "selected" : "")>100 adet</!option>
                </select>
            </label>
        </div>
        <div class="mx-2">
            Toplam @Model.TotalItems Kayıttan @Model.ShowingRangeStart - @Model.ShowingRangeEnd arası gösteriliyor
        </div>
    </div>
    @if (Model.TotalPages > 0)
    {
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous @(Model.CurrentPage > 1?"":"disabled")" id="kt_ecommerce_products_table_previous">
                        <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page" page="1">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page" page="@(Model.CurrentPage-1)">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                    @for (int _page = Model.StartPage; _page <= Model.EndPage; _page++)
                    {
                        <li class="paginate_button page-item">
                            <a href="#" page="@_page" class="page-link pager-page @(_page==Model.CurrentPage?"active":"")">@_page</a>
                        </li>
                    }

                    <li class="paginate_button page-item next @(Model.CurrentPage < Model.TotalPages?"":"disabled")">
                        <a class="page-link pager-page" href="#" page="@(Model.CurrentPage+1)" @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>

                    <li class="paginate_button page-item">
                        <a class="page-link pager-page" href="#" page="@(Model.TotalPages)">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    }
</div>

