@{
    Layout = null;
    int CookieCustomerId = MetaData.baseCustomerId();
    List<Package> packages = new List<Package>();
    var relations = MetaData.baseCustomerPackageRelation().Where(x => x.CustomerId == CookieCustomerId).Select(x => x.Package).ToList();
    foreach (var item in relations)
    {
        packages.Add(MetaData.basePackage().Single(x => x.PackageId == item.PackageId));
    }
}

@foreach (var package in packages)
{
    <h4>@package.Name</h4>
    <div class="cart-table table-responsive mb--60">
        <table class="table">
            <thead>
                <tr>
                    <th class="pro-title">Açıklama</th>
                    <th class="pro-title">Kurslar</th>
                    <th class="pro-title">Danışmanlıklar</th>
                    <th class="pro-title">Pratik Dersleri</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><span>@package.Description</span></td>
                    <td>
                        <ul>
                            @foreach (var i in package.PackageAdvisorRelation.Select(i => i.Advisor))
                            {
                                if (i.Type == 1)
                                {
                                    @Html.Raw("<li>Şeffaf Plak Danışmanlığı</li>")
                                }
                                else
                                {
                                    @Html.Raw("<li>Vaka Danışmanlığı</li>")
                                }

                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var i in package.PackageCourseRelation.Select(i => i.Course))
                            {
                                @Html.Raw("<li>"+ i.Name +"</li>")
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var i in package.PackagePracticeLessonRelation.Select(i => i.PracticeLesson))
                            {
                                @Html.Raw("<li>"+ i.Name +"</li>")
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}