
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    double rate = 0;
    List<Review> reviews = new List<Review>();
    var courses = MetaData.baseCourse();
    var categories = MetaData.baseCategory();
    var skills = MetaData.baseSkill();
    var lecturers = MetaData.baseLecturer();
    var professions = MetaData.baseProfession();
    var lessons = MetaData.baseLesson();
}
<!-- Start Banner Area -->
<div class="rbt-banner-5 height-650 bg_image bg_image--19">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner text-start">
                    <h2 class="title"><span class="text-decoration-underline">Verona Medikal</span> Yaratıcı insanlardan öğrenmeye başla</h2>
                    <p class="description">
                        Öğrencilerimize sadece ders değil, gerçek yaşam deneyimi veriyoruz.
                    </p>
                    <div class="slider-btn rbt-button-group justify-content-start">
                        <a class="rbt-btn btn-border icon-hover color-white radius-round" asp-action="Index" asp-controller="CourseUi">
                            <span class="btn-text">Kursları Keşfet</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                        <a class="rbt-btn-link color-white" asp-action="Index" asp-controller="CourseUi">Öğrenmeye başla<i class="feather-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start category Area  -->
<div class="rbt-category-area bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5">




            @foreach (var item in professions)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <a class="rbt-cat-box rbt-cat-box-1 image-overlaping-content on-hover-content-visible" asp-action="Index" asp-controller="CourseUi" asp-route-professionid="@item.ProfessionId">
                        <div class="inner">
                            <div class="thumbnail">
                                <img src="@MetaData.baseAssetsPath()/Profession/@item.Image" alt="@item.Name">
                            </div>
                            <div class="content">
                                <h5 class="title">@item.Name</h5>
                                <div class="read-more-btn">
                                    <span class="rbt-btn-link">@item.ProfessionCourseRelation.Count() Kurs<i class="feather-arrow-right"></i></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }




        </div>
    </div>
</div>
<!-- End category Area  -->
<!-- Start Featured Course Area  -->
<div class="rbt-featured-course bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-end mb--60">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="section-title text-start">
                    <h2 class="title">Önerilen Kurslar</h2>
                    <p class="description mt--20">
                        Öğrenmek, küresel dünyayla iletişim kurmak ve parlak bir gelecek ve kariyer gelişimi inşa etmek, geçmişimizle becerilerinizi artırın.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="load-more-btn text-start text-lg-end">
                    <a class="rbt-btn btn-border icon-hover radius-round" asp-action="Index" asp-controller="CourseUi">
                        <span class="btn-text">Verona Medikal Kursu Ara</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Start Card Area -->
        <div class="row g-5">


            @foreach (var item in courses.Take(3))
            {
                <!-- Start Single Card  -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">
                                <img src="@MetaData.baseAssetsPath()/Course/@item.Image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <div class="rbt-card-top">
                                <div class="rbt-review">
                                    <div class="rating">
                                        @{
                                            rate = 0;
                                            if (MetaData.baseReview().Where(x => x.Lesson.CourseId == item.CourseId).Count() > 0)
                                            {
                                                reviews = MetaData.baseReview().Where(x => x.Lesson.CourseId == item.CourseId).ToList();
                                                rate = reviews.Sum(x => x.StarRate) / reviews.Count();
                                            }
                                        }
                                        @for (int i = 0; i < rate; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    </div>
                                    <span class="rating-count"> (@MetaData.baseReview().Where(x=>x.Lesson.CourseId == item.CourseId).Count() Yorum)</span>
                                </div>
                                <div class="rbt-bookmark-btn">
                                </div>
                            </div>

                            <h4 class="rbt-card-title">
                                <a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">@item.Name</a>
                            </h4>

                            <ul class="rbt-meta">
                                <li><i class="feather-book"></i>@lessons.Where(x=>x.CourseId == item.CourseId).Count() Ders</li>
                                <li><i class="feather-users"></i>@item.ProfessionCourseRelation.Count() Uzmanlık Alanı</li>
                                <li><i class="feather-clock"></i>@item.Lesson.Sum(x=>x.Duration) dk</li>
                            </ul>

                            <p class="rbt-card-text" style="overflow:hidden; height:50px; text-overflow: ellipsis;">
                                @item.Description
                            </p>
                            <div class="rbt-author-meta mb--10">
                                <div class="rbt-avater">
                                    <a asp-action="Index" asp-controller="CourseUi" asp-route-lecturerid="@item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.LecturerId">
                                        <img src="@MetaData.baseAssetsPath()/Lecturer/@item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.Image">
                                    </a>
                                </div>
                                <div class="rbt-author-info">
                                    <a asp-action="Index" asp-controller="CourseUi" asp-route-lecturerid="@item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.LecturerId">

                                        @if (@item.LecturerCourseRelation.Count() > 0)
                                        {
                                            @item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.Name
                                        }
                                        else
                                        {
                                            Html.Raw("Eğitmen Bulunamadı");
                                        }

                                    </a>
                                </div>
                            </div>
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">
                                        @item.Price @item.Currency.Name.ToLower()
                                    </span>
                                </div>
                                <a class="rbt-btn-link" asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">
                                    Daha Fazla<i class="feather-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
            }





        </div>
        <!-- End Card Area -->
    </div>
</div>
<!-- End Featured Course Area  -->


<div class="rbt-counterup-area bg_image bg_image_fixed bg_image--20 ptb--170 bg-black-overlay" data-black-overlay="2">
    <div class="conter-style-2">
        <div class="container">
            <div class="row g-5">
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                    <div class="rbt-counterup style-2">
                        <div class="inner">
                            <div class="content">
                                <h3 class="counter">
                                    <span class="odometer" data-count="@lecturers.Count()">@lecturers.Count()</span>
                                </h3>
                                <span class="subtitle">Eğitmen &amp; Üretici</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                    <div class="rbt-counterup style-2">
                        <div class="inner">
                            <div class="content">
                                <h3 class="counter">
                                    <span class="odometer" data-count="@courses.Count()">@courses.Count()</span>
                                </h3>
                                <span class="subtitle">Kurs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                    <div class="rbt-counterup style-2">
                        <div class="inner">
                            <div class="content">
                                <h3 class="counter">
                                    <span class="odometer" data-count="@lecturers.Count()">@lecturers.Count()</span>
                                </h3>
                                <span class="subtitle">Ders &amp; Video</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                    <div class="rbt-counterup style-2">
                        <div class="inner">
                            <div class="content">
                                <h3 class="counter">
                                    <span class="odometer" data-count="@professions.Count()">@professions.Count()</span>
                                </h3>
                                <span class="subtitle">Uzmanlık Alanı</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
            </div>
        </div>
    </div>
</div>

<div class="rbt-testimonial-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb--60">
                <div class="section-title text-center">
                    <h2 class="title">Öğrenci Geri Dönüşleri</h2>
                    <p class="description mt--20">
                        Öğrenmek, küresel dünyayla iletişim kurmak ve parlak bir gelecek ve kariyer gelişimi inşa etmek, geçmişimizle becerilerinizi artırın.
                    </p>
                </div>
            </div>
        </div>
        <div class="testimonial-item-3-activation swiper rbt-arrow-between gutter-swiper-30">
            <div class="swiper-wrapper">



                @foreach (var item in MetaData.baseReview().Take(3))
                {
                    <!-- Start Single Testimonial  -->
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <div class="rbt-testimonial-box">
                                <div class="inner bg-no-shadow bg-color-primary-opacity">
                                    <div class="clint-info-wrapper">
                                        <div class="thumb">
                                            <img src="~/assets/images/customer/@item.Customer.Image" />
                                        </div>
                                        <div class="client-info">
                                            <h5 class="title">@item.Customer.NameSurname</h5>
                                            <span>@*@item.Lesson.Name : *@<i>@item.Lesson.Course.Name</i></span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p class="subtitle-3">
                                            @item.Description
                                        </p>
                                        <div class="rating mt--20">
                                            @for (int i = 0; i < item.StarRate; i++)
                                            {
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                }




            </div>

            <div class="rbt-swiper-arrow rbt-arrow-left">
                <div class="custom-overfolow">
                    <i class="rbt-icon feather-arrow-left"></i>
                    <i class="rbt-icon-top feather-arrow-left"></i>
                </div>
            </div>

            <div class="rbt-swiper-arrow rbt-arrow-right">
                <div class="custom-overfolow">
                    <i class="rbt-icon feather-arrow-right"></i>
                    <i class="rbt-icon-top feather-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Blog Style -->
<div class="rbt-rbt-blog-area rbt-section-gapTop bg-gradient-8 rbt-round-bottom-shape">
    <div class="wrapper pb--50 rbt-index-upper">
        <div class="container">
            <div class="row g-5 align-items-end mb--60">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="section-title text-start">
                        <h2 class="title color-white">Tavsiye Edilen Beceriler</h2>
                        <p class="description color-white-off mt--20">
                            Öğrenmek, küresel dünyayla iletişim kurmak ve parlak bir gelecek ve kariyer gelişimi inşa etmek, geçmişimizle becerilerinizi artırın.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="load-more-btn text-start text-lg-end">
                        <a class="rbt-btn btn-border icon-hover radius-round color-white-off" asp-action="Index" asp-controller="CourseUi">
                            <span class="btn-text">Tüm Kurslar</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row g-5">


                @foreach (var item in skills.Take(3))
                {
                    <!-- Start Single Card  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="rbt-card variation-02 rbt-hover card-minimal">
                            <div class="rbt-card-body">
                                <ul class="meta-list justify-content-start mb--30">
                                    <li class="list-item">
                                        <i class="feather-clock"></i>
                                        <span>
                                            @if (@item.GuncellemeTarihi == null)
                                            {
                                                @item.EklemeTarihi.ToString()
                                            }
                                            else
                                            {
                                                @item.GuncellemeTarihi.ToString()
                                            }

                                        </span>
                                    </li>
                                </ul>
                                <h4 class="rbt-card-title"><a asp-action="Index" asp-controller="CourseUi" asp-route-skillid="@item.SkillId">@item.Name /@item.SkillGroup.Name</a></h4>
                                <div class="rbt-card-bottom mt--40">
                                    <a class="transparent-button" asp-action="Index" asp-controller="CourseUi" asp-route-skillid="@item.SkillId">Daha Fazla<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629" /><path stroke-linecap="square" d="M.663 5.572h14.594" /></g></svg></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->
                }



            </div>
            <!-- End Card Area -->
        </div>
    </div>
</div>
<!-- End Blog Style -->