@{
    Layout = "";
    var courses = MetaData.baseCourse().Where(x=>x.Silindi == false && x.Aktif == true);
    var categories = MetaData.baseCategory().Where(x => x.Silindi == false && x.Aktif == true);
    var skills = MetaData.baseSkill().Where(x => x.Silindi == false && x.Aktif == true);
    var lecturers = MetaData.baseLecturer().Where(x => x.Silindi == false && x.Aktif == true);
    var skillgroups = MetaData.baseSkillGroup().Where(x => x.Silindi == false && x.Aktif == true);
    var lecturercourses = MetaData.baseLecturerCourseRelation().Where(x => x.Silindi == false && x.Aktif == true);
    var professions = MetaData.baseProfession().Where(x => x.Silindi == false && x.Aktif == true);
}

<div class="container">
    <div class="mainbar-row rbt-navigation-end align-items-center">
        <div class="header-left rbt-header-content">
            <div class="header-info">
                <div class="logo">

                    <a asp-controller="Home" asp-action="Index" class="rbt-btn btn-md btn-gradient hover-icon-reverse radius-round">
                        <img src="~/assets/images/logo-verona.png" style="max-height:52px;" />
                    </a>

                </div>
            </div>
            <div class="header-info">
                <div class="rbt-category-menu-wrapper">
                    <div class="rbt-category-btn rbt-side-offcanvas-activation">
                        <div class="rbt-offcanvas-trigger md-size icon">
                            <span class="d-none d-xl-block">
                                <i class="feather-grid"></i>
                            </span>
                            <i title="Category" class="feather-grid d-block d-xl-none"></i>
                        </div>
                        <span class="category-text d-none d-xl-block">Kategoriler</span>
                    </div>

                    <div class="category-dropdown-menu d-none d-xl-block">
                        <div class="category-menu-item">
                            <div class="rbt-vertical-nav">
                                <ul class="rbt-vertical-nav-list-wrapper vertical-nav-menu">


                                    @foreach (var item in categories)
                                    {
                                        <li class="vertical-nav-item active">
                                            <a href="#@item.CategoryId">@item.Name</a>
                                        </li>
                                    }


                                </ul>
                            </div>
                            <div class="rbt-vertical-nav-content">


                                @foreach (var item in categories)
                                {
                                    <!-- Start One Item  -->
                                    <div class="rbt-vertical-inner tab-content" id="@item.CategoryId" style="display: block">
                                        <div class="rbt-vertical-single">
                                            <div class="row">


                                                @foreach (var course in courses.Where(x => x.CategoryId == item.CategoryId))
                                                {
                                                    <div class="col-lg-6 col-sm-6 col-6">
                                                        <div class="vartical-nav-content-menu">
                                                            <h3 class="rbt-short-title mt-5">@course.Name</h3>
                                                            <ul class="rbt-vertical-nav-list-wrapper">

                                                                @if (course?.SkillCourseRelation != null)
                                                                {
                                                                    @foreach (var skillCourseRelation in course?.SkillCourseRelation)
                                                                    {
                                                                        <li><a asp-action="Index" asp-controller="CourseUi" asp-route-skillid="@skillCourseRelation.Skill.SkillId">@skillCourseRelation.Skill.Name</a></li>
                                                                    }

                                                                }

                                                            </ul>
                                                        </div>
                                                    </div>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End One Item  -->
                                }


                                <!-- Start One Item  -->
                                <div class="rbt-vertical-inner tab-content" id="tab2">
                                    <div class="rbt-vertical-single">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="vartical-nav-content-menu">
                                                    <h3 class="rbt-short-title">Course Title</h3>
                                                    <ul class="rbt-vertical-nav-list-wrapper">
                                                        <li><a href="#">Photo</a></li>
                                                        <li><a href="#">English</a></li>
                                                        <li><a href="#">Math</a></li>
                                                        <li><a href="#">Read</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="vartical-nav-content-menu">
                                                    <h3 class="rbt-short-title">Course Title</h3>
                                                    <ul class="rbt-vertical-nav-list-wrapper">
                                                        <li><a href="#">Web Design</a></li>
                                                        <li><a href="#">Art</a></li>
                                                        <li><a href="#">Figma</a></li>
                                                        <li><a href="#">Adobe</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End One Item  -->
                                <!-- Start One Item  -->
                                <div class="rbt-vertical-inner tab-content" id="tab3">
                                    <div class="rbt-vertical-single">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="vartical-nav-content-menu">
                                                    <h3 class="rbt-short-title">Course Title</h3>
                                                    <ul class="rbt-vertical-nav-list-wrapper">
                                                        <li><a href="#">Photo</a></li>
                                                        <li><a href="#">English</a></li>
                                                        <li><a href="#">Math</a></li>
                                                    </ul>
                                                    <div class="read-more-btn">
                                                        <a class="rbt-btn-link" href="#">
                                                            Learn More<i class="feather-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End One Item  -->
                                <!-- Start One Item  -->
                                <div class="rbt-vertical-inner tab-content" id="tab4">
                                    <div class="rbt-vertical-single">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="vartical-nav-content-menu">
                                                    <h3 class="rbt-short-title">Course Title</h3>
                                                    <ul class="rbt-vertical-nav-list-wrapper">
                                                        <li><a href="#">Photo</a></li>
                                                        <li><a href="#">English</a></li>
                                                        <li><a href="#">Math</a></li>
                                                        <li><a href="#">Read</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End One Item  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rbt-main-navigation d-none d-xl-block">
            <nav class="mainmenu-nav">
                <ul class="mainmenu">




                    @*Uzmanlık Alanları*@
                    <li class="with-megamenu has-menu-child-item position-static">
                        <a href="#">Uzmanlık Alanları <i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <div class="rbt-megamenu menu-skin-dark">
                            <div class="wrapper">
                                <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">


                                    @foreach (var item in professions)
                                    {
                                        <!-- Start Single Demo  -->
                                        <div class="col-lg-12 col-xl-2 col-xxl-2 col-md-12 col-sm-12 col-12 single-mega-item">
                                            <div class="demo-single">
                                                <div class="inner">
                                                    <div class="thumbnail">
                                                        <a asp-action="Index" asp-controller="CourseUi" asp-route-professionid="@item.ProfessionId">
                                                            <img src="@MetaData.baseAssetsPath()/Profession/@item.Image" alt="@item.Name" style="width:100%;">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="title"><a asp-action="Index" asp-controller="CourseUi" asp-route-professionid="@item.ProfessionId">@item.Name <span class="btn-icon"><i class="feather-arrow-right"></i></span></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Demo  -->
                                    }

                                </div>

                                <div class="load-demo-btn text-center">
                                    <a class="rbt-btn-link color-white" href="#">
                                        Scroll to view more
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Mega Menu  -->
                    </li>

                    @*Kurslar*@
                    <li class="with-megamenu has-menu-child-item">
                        <a href="#">Kurslar <i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <div class="rbt-megamenu grid-item-2">
                            <div class="wrapper">
                                @*<div class="row">
                                <div class="col-lg-12">
                                <div class="mega-top-banner">
                                <div class="content">
                                <h4 class="title">Developer hub</h4>
                                <p class="description">Start building fast, with code samples, key resources and more.</p>
                                </div>
                                </div>
                                </div>
                                </div>*@
                                <div class="row row--15">
                                    @foreach (var item in categories)
                                    {
                                        if (courses.Where(x => x.CategoryId == item.CategoryId && !x.Silindi).Count() > 0)
                                        {
                                            <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item mt-2">
                                                <h3 class="rbt-short-title mt-5">@item.Name</h3>
                                                <ul class="mega-menu-item">

                                                    @foreach (var course in courses.Where(x => x.CategoryId == item.CategoryId && !x.Silindi))
                                                    {
                                                        <li><a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@course.CourseId">@course.Name</a></li>
                                                    }


                                                </ul>
                                            </div>
                                        }
                                    }


                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="nav-quick-access">
                                            <li><a href="#"><i class="feather-folder-minus"></i> Yeni Başlayan Yönergesi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Mega Menu  -->
                    </li>

                    @*Eğitmenler*@
                    <li class="has-dropdown has-menu-child-item">
                        <a href="#">
                            Eğitmenler
                            <i class="feather-chevron-down"></i>
                        </a>
                        <ul class="submenu">


                            @foreach (var item in lecturers)
                            {
                                <li class="has-dropdown">
                                    <a href="#">@item.Name</a>


                                    @if (lecturercourses.Where(x => x.LecturerId == item.LecturerId).Count() > 0)
                                    {
                                        <ul class="submenu">


                                            @foreach (var lcr in lecturercourses.Where(x => x.LecturerId == item.LecturerId))
                                            {
                                                <li><a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@lcr.Course.CourseId">@lcr.Course.Name</a></li>
                                            }


                                        </ul>
                                    }


                                </li>
                            }


                        </ul>
                    </li>

                    @*Beceriler*@
                    <li class="with-megamenu has-menu-child-item position-static">
                        <a href="#">Beceriler <i class="feather-chevron-down"></i></a>
                        <!-- Start Mega Menu  -->
                        <div class="rbt-megamenu">
                            <div class="wrapper">
                                <div>

                                    @foreach (var item in skillgroups)
                                    {
                                        @if (skills.Where(x => x.SkillGroupId == item.SkillGroupId).Count() > 0)
                                        {
                                            <div>
                                                <h3 class="rbt-short-title mt-5">@item.Name</h3>
                                                <ul class="mega-menu-item">
                                                    @foreach (var skill in skills.Where(x => x.SkillGroupId == item.SkillGroupId))
                                                    {

                                                        <li><a asp-action="Index" asp-controller="CourseUi" asp-route-skillid="@skill.SkillId">@skill.Name</a></li>

                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }




                                </div>
                            </div>
                        </div>
                        <!-- End Mega Menu  -->
                    </li>

                    @*Paketler*@
                    <li class="has-dropdown has-menu-child-item">
                        <a href="#">
                            Paketler
                            <i class="feather-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li class="has-dropdown">
                                @foreach (var item in MetaData.basePackage())
                                {
                                    <a asp-action="Detail" asp-controller="PackageUi" asp-route-id="@item.PackageId">@item.Name</a>
                                }
                            </li>
                        </ul>
                    </li>

                    @*Danışmanlıklar*@
                    <li class="has-dropdown has-menu-child-item">
                        <a href="#">
                            Danışmanlıklar
                            <i class="feather-chevron-down"></i>
                        </a>
                        <ul class="submenu">
                            <li class="has-dropdown">
                                @foreach (var item in MetaData.baseAdvisor())
                                {
                                    <a asp-action="Detail" asp-controller="AdvisorUi" asp-route-id="@item.AdvisorId">
                                        @item.Name
                                    </a>
                                }
                            </li>
                        </ul>
                    </li>



                </ul>
            </nav>
        </div>
        <div class="header-right">
            <div class="rbt-btn-wrapper d-none d-xl-block">
                @if (MetaData.baseCustomerId() == 0)
                {
                    <a asp-controller="RegisterUi" asp-action="Index" class="rbt-btn btn-md btn-gradient hover-icon-reverse radius-round">
                        <span data-text="Kaydol">Kaydol</span>
                    </a>
                }
                @if (MetaData.baseCustomerId() != 0)
                {
                    <a asp-controller="LoginUi" asp-action="Index" class="rbt-btn btn-md btn-gradient hover-icon-reverse radius-round">
                        <span data-text="Çıkış">Çıkış Yap</span>
                    </a>
                }
            </div>
            <!-- Start Mobile-Menu-Bar -->
            <div class="mobile-menu-bar d-block d-xl-none">
                <div class="hamberger">
                    <button class="hamberger-button rbt-round-btn">
                        <i class="feather-menu"></i>
                    </button>
                </div>
            </div>
            <!-- Start Mobile-Menu-Bar -->
        </div>
    </div>
</div>
