@{
    Layout = null;
    int CookieCustomerId = MetaData.baseCustomerId();

    var baskets = MetaData.baseBasket().Where(x => x.CustomerId == CookieCustomerId );
    var packages = MetaData.basePackage().ToList();
    List <Package> basketpackages = new List<Package>();
    var advisors = MetaData.baseAdvisor().ToList();
    List <Advisor> basketadvisors = new List<Advisor>();
    int basketcount = baskets.Where(x => x.CustomerId == MetaData.baseCustomerId() ).Count();
    int basketlessoncount = baskets.Where(x => x.Product.Type == 1).Count();
    int courselessonscount = 0;
    int total = ViewBag.total;
    foreach (var basket in baskets)
    {
        switch (basket.Product.Type)
        {
            case 2:
                basketpackages.Add(packages.Single(x=>x.PackageId == basket.Product.ProductId));
                break;
            case 3:
                basketadvisors.Add(advisors.Single(x => x.AdvisorId == basket.Product.ProductId));
                break;
        }
    }
}

<!-- Start Side Vav -->
<div class="inner-wrapper">
    <div class="inner-top">
        <div class="content">
            <div class="title">
                <h4 class="title mb--0">Alışveriş Sepeti</h4>
            </div>
            <div class="rbt-btn-close" id="btn_sideNavClose">
                <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
            </div>
        </div>
    </div>

    <nav class="side-nav w-100">
        <div class="rbt-accordion-style rbt-accordion-01 rbt-accordion-06 accordion">
            <div class="accordion" id="tutionaccordionExamplea1">


                @if (basketcount > 0)
                {
                    bool tf = true;
                    @foreach (var course in MetaData.baseCourse())
                    {

                        @if (basketlessoncount > 0)
                        {
                            courselessonscount = 0;
                            @foreach (var courselesson in course.Lesson)
                            {
                                if (baskets.Any(x => x.Product.ProductId == courselesson.LessonId  && x.CustomerId == CookieCustomerId && x.Product.Type == 1))
                                {
                                    courselessonscount++;
                                }
                            }
                            @if (courselessonscount > 0)
                            {
                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="tutionheadingOne/@course.CourseId">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tutioncollapseOne/@course.CourseId" aria-expanded="@tf" aria-controls="tutioncollapseOne">
                                            @course.Name
                                        </button>
                                    </h2>
                                    @{
                                        tf = false;
                                    }
                                    <div id="tutioncollapseOne/@course.CourseId" class="accordion-collapse collapse show" aria-labelledby="tutionheadingOne/@course.CourseId" data-bs-parent="#tutionaccordionExamplea1">
                                        <div class="accordion-body card-body">

                                            @foreach (var lesson in course.Lesson)
                                            {

                                                @if (baskets.Any(x => x.Product.ProductId == lesson.LessonId))
                                                {
                                                    <ul class="rbt-minicart-wrapper mt-1">

                                                        <li class="minicart-item" data-lesson-id="@lesson.LessonId">
                                                            <div class="thumbnail">
                                                                <a href="#">
                                                                    <img src="@MetaData.baseAssetsPath()/Lesson/@lesson.Image">
                                                                </a>
                                                            </div>
                                                            <div class="product-content">
                                                                <h6 class="title"><a href="#">@lesson.Name</a></h6>

                                                                <span class="quantity">@lesson.Duration<span class="price">dk</span></span>
                                                                <span class="quantity">@lesson.Price <span class="price">@lesson.Currency.Name</span></span>
                                                            </div>
                                                            <div class="close-btn">
                                                                <button class="rbt-round-btn sendButtonn"><i class="feather-x"></i></button>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    @foreach (var package in basketpackages)
                    {
                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="tutionheadingOne/@package.PackageId">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tutioncollapseOne/@package.PackageId" aria-expanded="true" aria-controls="tutioncollapseTwo">
                                        @package.Name
                                    </button>
                                </h2>
                            </div>
                    }
                    @foreach (var advisor in basketadvisors)
                    {
                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="tutionheadingOne/@advisor.AdvisorId">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tutioncollapseOne/@advisor.AdvisorId" aria-expanded="@tf" aria-controls="tutioncollapseOne">
                                        @advisor.Name
                                    </button>
                                </h2>
                            </div>
                    }
                }


            </div>
        </div>
    </nav>

    <div class="rbt-minicart-footer">
        <hr class="mb--0">
        <div class="rbt-cart-subttotal">

            @if (basketcount > 0)
            {
                <p class="subtotal"><strong>Toplam:</strong></p>
                <p class="price">@total</p>
            }

        </div>
        <hr class="mb--0">
        <div class="rbt-minicart-bottom mt--20">

            @if (basketcount > 0)
            {
                <div class="view-cart-btn">
                    <a class="rbt-btn btn-border icon-hover w-100 text-center" href="#" id="ClearBasket">
                        <span class="btn-text">Sepeti Temizle</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
                <div class="checkout-btn mt--20">
                    <a asp-action="Cart" asp-controller="Basket" class="rbt-btn btn-gradient icon-hover w-100 text-center">
                        <span class="btn-text">Ödemeye Geç</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
            }
            else
            {
                <div class="checkout-btn mt--20">
                    <a class="rbt-btn btn-gradient icon-hover w-100 text-center" asp-controller="CourseUi" asp-action="Index">
                        <span class="btn-text">Kurslara Göz At</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>
                </div>
            }

        </div>
    </div>

</div>
<!-- End Side Vav -->

<script>
    $(document).ready(function () {
        $('.rbt-minicart-wrapper').on('click', '.sendButtonn', function () {
            var lessonId = $(this).closest('.minicart-item').data('lesson-id');

            $.ajax({
                url: '/Basket/Delete',
                type: 'POST',
                data: { lessonId: lessonId },
                success: function (result) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Ürünler Sepetten Kaldırıldı',
                        showConfirmButton: false,
                        timer: 750
                    })
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                complete:function(){
                    $.ajax({
                        url: "/basket/SideBarBasket",
                        type: "POST",
                        data: {},
                        dataType: 'html',
                        contentType: 'json',
                        success: function (result) {
                            $(".rbt-cart-side-menu").empty().html(result);
                        },
                        error: function (r) {

                        },
                        complete: function () {
                            $('.rbt-cart-side-menu').addClass('side-menu-active');
                            $('body').addClass('cart-sidenav-menu-active');
                        }
                    });
                }
            });
        });


        $('#ClearBasket').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/Basket/ClearBasket',
                type: 'POST',
                success: function (response) {
                    $("#btn_sideNavClose").trigger("click");
                    Swal.fire({
                        icon: 'success',
                        title: 'Sepet Temizlendi',
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            });
        });

    });
</script>