@model Personel;

<form id="PersonelForm">
    <input type="hidden" name="tempId" value="@(Model?.PersonelId)" />
    <div class="card card-flush py-4">
        <div class="card-body pt-0">
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Adı</label>
                <input type="text" name="Adi" class="form-control mb-2" placeholder="adı" value="@(Model?.Adi)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Kod</label>
                <input type="text" name="Kod" class="form-control mb-2" placeholder="Kod" value="@(Model?.Kod)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Unvan</label>
                <input type="text" name="Unvan" class="form-control mb-2" placeholder="Unvan" value="@(Model?.Unvan)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Eposta</label>
                <input type="text" name="Eposta" class="form-control mb-2" placeholder="Eposta" value="@(Model?.Eposta)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Telefon</label>
                <input type="text" name="Telefon" class="form-control mb-2" placeholder="Telefon" value="@(Model?.Telefon)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Parola</label>
                <input type="text" name="Parola" class="form-control mb-2" placeholder="Parola" value="@(Model?.Parola)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
    </div>
</form>

