@model Lesson;
@{
    int id = ViewBag.relationId;
}
<form id="LessonForm">
    <input type="hidden" name="tempId" value="@(Model?.LessonId)" />
    <input type="hidden" name="Image" value="@(Model?.Image)" />
    <div class="card card-flush py-4">
        <div class="card-body pt-0">
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Adı</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="Ders adı" value="@(Model?.Name)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Açıklama</label>
                <input type="text" name="Description" class="form-control mb-2" value="@(Model?.Description)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Ücret</label>
                <input type="text" name="Price" class="form-control mb-2" value="@(Model?.Price)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Para Birimi</label>
                <div class="">
                    <select class="form-control selectpicker" name="CurrencyId">
                        
                        @foreach (var item in MetaData.baseCurrency())
                        {
                            var slc = item.CurrencyId == Model?.CurrencyId ? "selected" : "";
                            <option selected="@slc" value="@item.CurrencyId">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Eğitmen</label>
                <div class="">
                    <select class="form-control selectpicker" name="LecturerId">
                        
                        @foreach (var item in MetaData.baseLecturer())
                        {
                            var slc = item.LecturerId == Model?.LecturerId ? "selected" : "";
                            <!option selected="@slc" value="@item.LecturerId">@item.Name</!option>
                        }
                    </select>
                </div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Video Kaynağı</label>
                <input type="text" name="Source" class="form-control mb-2" value="@(Model?.Source)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Süre</label>
                <input type="text" name="Duration" class="form-control mb-2" placeholder="dk*" value="@(Model?.Duration)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>




            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Kurs</label>
                <div class="">
                    <select class="form-control selectpicker" name="CourseId">
                        
                        @foreach (var item in MetaData.baseCourse())
                        {
                            var slc = item.CourseId == Model?.CourseId ? "selected" : "";
                            <!option selected="@slc" value="@item.CourseId">@item.Name</!option>
                        }
                        @if (id != 0)
                        {
                            <!option value="@id" selected>@MetaData.baseCourse().Single(x=>x.CourseId == id).Name</!option>
                        }
                    </select>
                </div>
            </div>





            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Sıra</label>
                <input type="text" name="Sira" class="form-control mb-2" value="@(Model?.Sira)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>