@model List<Lesson>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int adet = Convert.ToInt32(pager.PageSize); string orderIcon = pager.OrderWay == "Asc" ? "fa-solid fa-caret-up" : "fa-solid fa-caret-down";
}

<style>
    .orderIcon {
        display: inline-block;
        position: relative;
        right: -10px;
        line-height: 0;
        vertical-align: middle;
        font-size: 1.1rem;
        color: black !important;
    }

    .sortable {
        cursor: pointer;
    }
</style>



<!--begin::Table-->
<div class="table-responsive">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered mb-200">
            <thead>
                <tr>
                    <th style="width:50px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="PagerTopluSecim" />
                        </div>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="LessonId">
                        # <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Id"?"":"display:none;")"></i>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="Name">
                        Adı <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Name"?"":"display:none;")"></i>
                    </th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Ücret</th>
                    <th scope="col">Para Birimi</th>
                    <th scope="col">Eğitmen</th>
                    <th scope="col">Süre</th>
                    <th scope="col" style="width:150px;">Video Kaynağı</th>
                    <th scope="col">Sıra</th>

                    <th scope="col" style="width:65px;">durum</th>
                    <th scope="col" style="width:75px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input pager_toplu_secim" type="checkbox" value="@item.LessonId" />
                            </div>
                        </td>
                        <td scope="row">@item.LessonId</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Currency.Name</td>
                        <td>@item.Lecturer.Name</td>
                        <td>@item.Duration dk</td>
                        <td><a target="_blank" href="@item.Source">İzle</a></td>
                        <td>@item.Sira</td>

                       
                        <td>
                            <div class="badge badge-light-@(item.Aktif ? "success" : "danger")">
                                @(item.Aktif ? "Aktif" : "Pasif")
                            </div>
                        </td>
                        <!--begin::Action=-->
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlemler
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" event="LessonFormPopup" params='{"id":"@item.LessonId"}' href="#">Düzenle</a>
                                        <a class="dropdown-item" event="BaseDurum" params='{"id":@item.LessonId, "url":"/Lesson/durum", "title":"@(item.Aktif?"Pasif Yap":"Aktif Yap")"}' href="#">
                                            @(item.Aktif ? "Pasif Yap" : "Aktif Yap")
                                        </a>
                                        <a class="dropdown-item" event="BaseSil" params='{"id":@item.LessonId, "url":"/Lesson/sil", "title":"Sil"}' href="#">
                                            Sil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!--end::Action=-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning">
            kayıt bulunamadı
        </div>
    }
</div>
@Html.Partial("/views/shared/_pager.cshtml",pager)
<!--end::Table-->



@*<form id="LessonForm">
    <input type="hidden" name="tempId" value="@(lesson?.LessonId)" />    <div class="form-group row">
        <div class="col-lg-6">

            <div class="form-group">
                <label>Adı:</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="Kurs adı" value="@(lesson.Name)" />
            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group mt-5">
                <label>Video Kaynağı:</label>
                <input type="text" name="Source" class="form-control mb-2" placeholder="Kurs adı" value="@(lesson.Source)" />
            </div>


        </div>
    </div>
</form>*@











































@*@model List<Lesson>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
        int adet = Convert.ToInt32(pager.PageSize); string orderIcon = pager.OrderWay == "Asc" ? "fa-solid fa-caret-up" : "fa-solid fa-caret-down";
}

<style>
    .orderIcon {
        display: inline-block;
        position: relative;
        right: -10px;
        line-height: 0;
        vertical-align: middle;
        font-size: 1.1rem;
        color: black !important;
    }

    .sortable {
        cursor: pointer;
    }
</style>
<!--begin::Table-->
<div class="table-responsive">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered mb-200">
            <thead>
                <tr>
                    <th style="width:50px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="PagerTopluSecim" />
                        </div>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="LessonId">
                        # <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Id"?"":"display:none;")"></i>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="Name">
                        Adı <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Name"?"":"display:none;")"></i>
                    </th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Ücret</th>
                    <th scope="col">Para Birimi</th>
                    <th scope="col">Eğitmen</th>
                    <th scope="col">Süre</th>
                    <th scope="col" style="width:150px;">Video Kaynağı</th>
                    <th scope="col">Sıra</th>

                    <th scope="col" style="width:65px;">durum</th>
                    <th scope="col" style="width:75px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input pager_toplu_secim" type="checkbox" value="@item.LessonId" />
                            </div>
                        </td>
                        <td scope="row">@item.LessonId</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Currency.Name</td>
                        <td>@item.Lecturer.Name</td>
                        <td>@item.Duration dk</td>
                        <td>@item.Source</td>
                        <td>@item.Sira</td>


                        <td>
                            <div class="badge badge-light-@(item.Aktif ? "success" : "danger")">
                                @(item.Aktif ? "Aktif" : "Pasif")
                            </div>
                        </td>
                        <!--begin::Action=-->
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlemler
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-action="Detail" asp-controller="Lesson" asp-route-id="@item.LessonId">Detay</a>
                                        <a class="dropdown-item" event="LessonFormPopup" params='{"id":"@item.LessonId"}' href="#">Düzenle</a>
                                        <a class="dropdown-item" event="BaseDurum" params='{"id":@item.LessonId, "url":"/Lesson/durum", "title":"@(item.Aktif?"Pasif Yap":"Aktif Yap")"}' href="#">
                                            @(item.Aktif ? "Pasif Yap" : "Aktif Yap")
                                        </a>
                                        <a class="dropdown-item" event="BaseSil" params='{"id":@item.LessonId, "url":"/Lesson/sil", "title":"Sil"}' href="#">
                                            Sil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!--end::Action=-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning">
            kayıt bulunamadı
        </div>
    }
</div>
@Html.Partial("/views/shared/_pager.cshtml",pager)
<!--end::Table-->
*@





<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>