@model Lecturer

<style>
    .navi {
        padding: 0;
        margin: 0;
        display: block;
        list-style: none;
    }

        .navi .navi-item {
            padding: 0;
            display: block;
            list-style: none;
        }


            .navi .navi-item .navi-link {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0.75rem 1.5rem;
            }

        .navi.navi-link-rounded .navi-item .navi-link {
            border-radius: 0.42rem;
            color: #c5c5d8;
        }

        .navi.navi-active .navi-item .navi-link.active {
            background-color: #009ef7;
        }

        .navi.navi .navi-item .navi-link {
            background-color: #F3F6F9;
        }

        .navi .navi-item .navi-link .navi-icon {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 2rem;
            flex: 0 0 2rem;
        }
</style>
<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color:white;">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Mobile Toggle-->
            <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
                <span></span>
            </button>
            <!--end::Mobile Toggle-->
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mx-10">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mx-10">@Model.Name  </h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">

                    <li class="breadcrumb-item">
                        <a  class="text-muted">Eğitmenlar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-muted">Detay</a>
                    </li>

                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->

    </div>
</div>

<div class="m-10">


    <div class="row">

        <div class="col-sm-2 card align-items-center">

            <div class=" p-1 card-body menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-400 menu-arrow-gray-400 menu-bullet-gray-400 menu-arrow-gray-400 menu-state-bg fw-semibold w-200px" data-kt-menu="true">
                <h5 class="text-dark font-weight-bold my-5">@Model.Name  </h5>

                <!--begin::Nav-->
                <div class="navi navi-bold navi-hover navi-active navi-link-rounded" id="navi">
                    <input type="hidden" id="LecturerId" value="@Model.LecturerId" />
                    <div class="navi-item mb-2 mt-2">
                        <a href="#"
                           id="@Model.LecturerId"
                           displayType="list"
                           form="/Lecturer/DetailForm/@Model.LecturerId"
                           filterForm=""
                           triggerEvent="SaveThisLecturer"
                           params='{"id":"0","LecturerId":"@Model.LecturerId"}'
                           triggerText="Kaydet"
                           btnId="0"
                           coloumns="Eğitmenler"
                           cardLTitle="@Model.Name Detay"
                           cardDescription="Eğitmen Eğitmenleri"
                           class="navi-link py-4">

                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Eğitmen</span>
                        </a>
                    </div>
                </div>
                <div class="navi navi-bold navi-hover navi-active navi-link-rounded" id="navi">
                    <input type="hidden" id="LecturerId" value="@Model.LecturerId" />
                    <div class="navi-item mb-2 mt-2">
                        <a href="#"
                           id="@Model.LecturerId"
                           displayType="list"
                           form="/Lecturer/ImageForm/@Model.LecturerId"
                           filterForm=""
                           triggerEvent="SaveLecturerImage"
                           params='{"id":"0","CourseId":"@Model.LecturerId"}'
                           triggerText="Resmi Kaydet"
                           btnId="0"
                           coloumns="Resimler"
                           cardLTitle="@Model.Name Detay"
                           cardDescription="Eğitmen Resmi"
                           class="navi-link py-4">

                            <span class="navi-icon mr-2">
                                <span class="svg-icon">
                                    <i class="fa-solid fa-video"></i>
                                </span>
                            </span>
                            <span class="navi-text font-size-lg">Resim</span>
                        </a>
                    </div>
                </div>
                <!--end::Nav-->



            </div>
        </div>

        <div class="col-sm-10 ">
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8">
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 id="cardTitle" class="card-label font-weight-bolder text-dark"></h3>
                            <span id="cardDescription" class="text-muted font-weight-bold font-size-sm mt-1"></span>
                        </div>
                        <div class="card-toolbar">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <partial name="~/Views/Lecturer/filterform.cshtml"></partial>
                                <div class="mx-5">
                                    <button type="button" id="" class="btn btn-primary mr-2 eventButton" event="LecturerFormPopup"></button>
                                </div>
                            </div>
                            <!--end::Card title-->
                        </div>
                    </div>

                    <div class="card-body">
                        <!--begin: Search Form-->
                        <!--begin::Search Form-->
                        <div class="mb-10" id="filterForm">
                        </div>
                        <!--end::Search Form-->
                        <!--end: Search Form-->

                        <div id="pager_toplu_secim_div" style="display:none;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlem
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" id="PagerTopluSil" url="/Test/TopluSil" href="#">
                                            Seçili Kayıtları Sil
                                        </a>
                                        <a class="dropdown-item" id="PagerTopluAktif" url="/Test/TopluAktif" href="#">
                                            Seçili Kayıtları Aktif Yap
                                        </a>
                                        <a class="dropdown-item" id="PagerTopluPasif" url="/Test/TopluPasif" href="#">
                                            Seçili Kayıtları Pasif Yap
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-1 mb-1" id="12">
                        </div>

                        <!--begin: Datatable-->
                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                        <div id="formArea"></div>
                        <!--end: Datatable-->
                    </div>
                </div>
            </div>
            <!--end::Content-->
        </div>

    </div>
</div>

@section Scripts{

    <script src="~/js/pagescripts/Lecturer.js"></script>
    <script src="~/js/custom/nav.js"></script>
    <script src="~/js/custom/Form.js"></script>

    <script>
        $(document).ready(function () {
            Lecturer.Init();
            Nav.Init();
            Nav.LecturerNav();
            $("#first-item").trigger("click");
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#@Model.LecturerId').trigger('click');
        });
    </script>
}