@model Lecturer;
@{
    int id = ViewBag.relationId;
}
<form id="LecturerForm">
    <input type="hidden" name="tempId" value="@(Model?.LecturerId)" />
    <input type="hidden" name="Image" value="@(Model?.Image)" />
    <div class="card card-flush">
        <div class="card-body">
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Adı</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="" value="@(Model?.Name)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
    </div>
    <div class="card card-flush">
        <div class="card-body">
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Email</label>
                <input type="text" name="Email" class="form-control mb-2" placeholder="" value="@(Model?.Email)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
    </div>

    @if (id != 0)
    {
        <select class="form-control  manytomany" relationName="LecturerCourseRelation" propertyName="CourseId" multiple style="display:none;">
            <!option value="@(id)" selected>0</!option>
        </select>
    }
</form>

