@model List<Message>
@{
    Lecturer lecturer = @MetaData.baseAdvisor().Single(x => x.AdvisorId == ViewBag.AdvisorId).Lecturer;
    Customer customer = MetaData.baseCustomer().Single(x => x.CustomerId == ViewBag.CustomerId);
    Advisor advisor = MetaData.baseAdvisor().Single(x => x.AdvisorId == ViewBag.AdvisorId);
}

<!--begin::Messages-->
<div class="scroll-y me-n5 pe-5 h-500px h-lg-auto" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="500" data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_app_toolbar, #kt_toolbar, #kt_footer, #kt_app_footer, #kt_chat_messenger_header, #kt_chat_messenger_footer" data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_messenger_body" data-kt-scroll-offset="5px" style="max-height: 164px;">

    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            @if (item.Type == 1)
            {
                <!--begin::Message(in)-->
                <div class="d-flex justify-content-start mb-10 ">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Details-->
                            <div class="ms-3">
                                <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">@customer.NameSurname</a>
                                <span class="text-muted fs-7 mb-1">@item.EklemeTarihi.ToString()</span>
                            </div>
                            <!--end::Details-->
                        </div>
                        <!--end::User-->
                        <!--begin::Text-->
                        <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start" data-kt-element="message-text">
                            @item.Contents
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Message(in)-->
            }

            else
            {
                <!--begin::Message(out)-->
                <div class="d-flex justify-content-end mb-10 ">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-end">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Details-->
                            <div class="me-3">
                                <span class="text-muted fs-7 mb-1">@item.EklemeTarihi.ToString()</span>
                            </div>
                            <!--end::Details-->
                            <!--begin::Avatar--><div class="symbol  symbol-35px symbol-circle ">
                                <img alt="Pic" src="~/assets/Images/Lecturer/@lecturer.Image"><!--end::Avatar-->
                            </div>
                            <!--end::User-->
                            <!--begin::Text-->
                            <div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-end" data-kt-element="message-text">
                                @item.Contents
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                </div>
                <!--end::Message(out)-->
            }

        }
    }
    else
    {
          <span>Burası Şimdilik Boş.</span>  
    }

</div>
<!--end::Messages-->
<script>
    $(document).ready(function () {
        $(window).scrollTop($(document).height());
    });
</script>