@model  List<PracticeLessonGallery>

<!--begin::Table-->
<div class="table-responsive">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered mb-200">
            <thead>
                <tr>
                    <th style="width:50px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="PagerTopluSecim" />
                        </div>
                    </th>
                    <th scope="col" style="width:100px;">#</th>
                    <th scope="col">Resim</th>

                    <th scope="col" style="width:65px;">durum</th>
                    <th scope="col" style="width:75px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input pager_toplu_secim" type="checkbox" value="@item.PracticeLessonId" />
                            </div>
                        </td>

                        <td>@item.PracticeLessonGalleryId</td>
                        <td>
                            <img class="w-100" src="~/assets/Images/PracticeLesson/@item.Image">
                        </td>

                        <td>
                            <div class="badge badge-light-@(item.Aktif ? "success" : "danger")">
                                @(item.Aktif ? "Aktif" : "Pasif")
                            </div>
                        </td>
                        <!--begin::Action=-->
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlemler
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" event="BaseDurum" params='{"id":@item.PracticeLessonGalleryId, "url":"/PracticeLessonGallery/durum", "title":"@(item.Aktif?"Pasif Yap":"Aktif Yap")"}' href="#">
                                            @(item.Aktif ? "Pasif Yap" : "Aktif Yap")
                                        </a>
                                        <a class="dropdown-item" event="BaseSil" params='{"id":@item.PracticeLessonGalleryId, "url":"/PracticeLessonGallery/sil", "title":"Sil"}' href="#">
                                            Sil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!--end::Action=-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning">
            kayıt bulunamadı
        </div>
    }
</div>