@using VeronaAkademi.Ui.Models
@model HomeViewModel

@{
    double rate = 0;
    List<Review> reviews = new List<Review>();

    string Header = "-";
    int filter = Model.Filter;

    var courses = MetaData.baseCourse();
    var categories = MetaData.baseCategory();
    var lecturers = MetaData.baseLecturer();
    var lessons = MetaData.baseLesson();

    switch (filter)
    {
        case 0:
            
            break;
        case 1:
            courses.Where(x => x.CategoryId == Model.id);
            break;
        case 2:
            courses.Select(x => x.SkillCourseRelation.Where(x => x.SkillId == Model.id));
            break;
        case 3:
            courses.Select(x => x.ProfessionCourseRelation.Where(x => x.ProfessionId == Model.id));
            break;
        case 4:
            courses.Select(x => x.LecturerCourseRelation.Where(x => x.LecturerId == Model.id));
            break;
    }
    
}
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
    <div class="rbt-banner-content">

        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a>Anasayfa</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">


                                @switch (filter)
                                {
                                    case 0:
                                        Html.Raw("Tüm Kurslar");
                                        break;
                                    case 1:
                                        Header = courses.First().Category.Name + "  Kategorisi için sonuçlar";
                                        break;
                                    case 2:
                                        Header = courses.First().SkillCourseRelation.First().Skill.Name + "  Becerisi için sonuçlar";
                                        break;
                                    case 3:
                                        Header = courses.First().ProfessionCourseRelation.First().Profession.Name + "  Uzmanlık alanı için sonuçlar";
                                        break;
                                    case 4:
                                        Header = courses.First().LecturerCourseRelation.First().Lecturer.Name + "  Eğitmeni için sonuçlar";
                                        break;

                                }
                                @Header
                                

                            </li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">

                                
                                Kurslar

                            </h1>
                            <a href="#" class="rbt-badge-2">
                                <div class="image">🎉</div> @courses.Count() Kurs
                            </a>
                        </div>

                        <p class="description">Yeni başlayan tasarımcıların gerçek uzman olmasına yardımcı olan kurslar. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40 mt_sm--20">
            <div class="container">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-5 col-md-12">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item"><button class="rbt-grid-view active" title="Grid Layout"><i class="feather-grid"></i> <span class="text">Kutu</span></button></li>
                                    <li class="course-switch-item"><button class="rbt-list-view" title="List Layout"><i class="feather-list"></i> <span class="text">Liste</span></button></li>
                                </ul>
                            </div>
                            <div class="rbt-short-item">
                                @*<span class="course-index">Showing 1-9 of 19 results</span>*@
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-12">
                       @* <div class="rbt-sorting-list d-flex flex-wrap align-items-center justify-content-start justify-content-lg-end">
                            <div class="rbt-short-item">
                                <form action="#" class="rbt-search-style me-0">
                                    <input type="text" placeholder="Ara">
                                    <button type="submit" class="rbt-search-btn rbt-round-btn">
                                        <i class="feather-search"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="rbt-short-item">
                                <div class="view-more-btn text-start text-sm-end">
                                    <button class="discover-filter-button discover-filter-activation rbt-btn btn-white btn-md radius-round">Filtrele<i class="feather-filter"></i></button>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>

                <!-- Start Filter Toggle  -->
                <div class="default-exp-wrapper default-exp-expand">
                    <div class="filter-inner">
                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Filtrele</span>
                                <select>
                                    <option>Varsayılan</option>
                                    <option>En Son</option>
                                    <option>Popülerlik</option>
                                    <option>Trend</option>
                                    <option>Ücret: Azdan çoğa</option>
                                    <option>Ücret: Çokdan Aza</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Eğitmene Göre</span>
                                <select data-live-search="true" title="Seç" multiple data-size="7" data-actions-box="true" data-selected-text-format="count > 2">

                                    @foreach (var item in lecturers)
                                    {
                                        <option data-subtext="Experts">@item.Name</option>
                                    }


                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Ücrete Göre</span>
                                <select>
                                    <option>Ücretsiz</option>
                                    <option>Ücretli</option>
                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Kategoriye Göre</span>
                                <select data-live-search="true">

                                    @foreach (var item in categories)
                                    {
                                        <option>@item.Name</option>
                                    }


                                </select>
                            </div>
                        </div>

                        <div class="filter-select-option">
                            <div class="filter-select">
                                <span class="select-label d-block">Ücret Aralığı</span>

                                <div class="price_filter s-filter clear">
                                    <form action="#" method="GET">
                                        <div id="slider-range"></div>
                                        <div class="slider__range--output">
                                            <div class="price__output--wrap">
                                                <div class="price--output">
                                                    <span>Price :</span><input type="text" id="amount">
                                                </div>
                                                <div class="price--filter">
                                                    <a class="rbt-btn btn-gradient btn-sm" href="#">Filtrele</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Toggle  -->
            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>



<!-- Start Card Style -->
<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-course-grid-column">


                    @foreach (var item in courses)
                    {
                        <!-- Start Single Card  -->
                        <div class="course-grid-3">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">
                                        <img src="@MetaData.baseAssetsPath()/Course/@item.Image">
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <div class="rbt-card-top">
                                        <div class="rbt-review">
                                            <div class="rating">


                                                @{
                                                    rate = 0;
                                                    if (MetaData.baseReview().Where(x => x.Lesson.CourseId == item.CourseId).Count() > 0)
                                                    {
                                                        reviews = MetaData.baseReview().Where(x => x.Lesson.CourseId == item.CourseId).ToList();
                                                        rate = reviews.Sum(x => x.StarRate) / reviews.Count();
                                                    }
                                                }
                                                @for (int i = 0; i < rate; i++)
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                
                                                
                                            </div>
                                            <span class="rating-count"> (@MetaData.baseReview().Where(x=>x.Lesson.CourseId == item.CourseId).Count() Yorum)</span>
                                        </div>
                                    </div>

                                    <h4 class="rbt-card-title">
                                        <a asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">@item.Name</a>
                                    </h4>

                                    <ul class="rbt-meta">
                                        <li><i class="feather-book"></i>@lessons.Where(x=>x.CourseId == item.CourseId).Count() Ders</li>
                                        <li><i class="feather-clock"></i>@item.Lesson.Sum(x=>x.Duration) dk</li>
                                    </ul>

                                    <p class="rbt-card-text" style="overflow:hidden; height:50px; text-overflow: ellipsis;">
                                        @item.Description
                                    </p>
                                    <div class="rbt-author-meta mb--10">
                                        <div class="rbt-avater">
                                            <a asp-controller="CourseUi" asp-route-id="@item.CourseId">
                                                <img src="@MetaData.baseAssetsPath()/Lecturer/@item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.Image">
                                            </a>
                                        </div>
                                        <div class="rbt-author-info">
                                            <a asp-action="Index" asp-controller="CourseUi" asp-route-lecturerid="@item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.LecturerId">
                                               
                                                @if (@item.LecturerCourseRelation.Count() > 0)
                                                {
                                                    @item.LecturerCourseRelation.FirstOrDefault()?.Lecturer.Name
                                                }
                                                else
                                                {
                                                    Html.Raw("Eğitmen Bulunamadı");
                                                }

                                            </a>
                                        </div>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">
                                                @item.Price @item.Currency.Name.ToLower()
                                            </span>
                                        </div>
                                        <a class="rbt-btn-link" asp-action="Detail" asp-controller="CourseUi" asp-route-id="@item.CourseId">
                                            Daha Fazla<i class="feather-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->


