@model Package

<form id="PackageForm">
    <input type="hidden" name="tempId" value="@(Model?.PackageId)" />
    <input type="hidden" name="PackageId" value="@(Model?.PackageId)" />

    <div class="card card-flush py-4">

        <div class="card-body pt-0">
            <div class="fv-row fv-plugins-icon-container  mt-5">
                <label class="required form-label">Adı</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="Paket adı" value="@(Model?.Name)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Açıklama</label>
                <input type="text" name="Description" class="form-control mb-2" value="@(Model?.Description)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Ücret</label>
                <input type="text" name="Price" class="form-control mb-2" value="@(Model?.Price)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Para Birimi</label>
                <div class="">
                    <select class="form-control selectpicker" name="CurrencyId">

                        @foreach (var item in MetaData.baseCurrency())
                        {
                            var slc = item.CurrencyId == Model?.CurrencyId ? "selected" : "";
                            <option selected="@slc" value="@item.CurrencyId">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="fv-row fv-plugins-icon-container mt-5">
                <label class="required form-label">Pratik Dersler</label>
                <div class="">
                    <select class="form-control selectpicker manytomany" relationName="PackagePracticeLessonRelation" propertyName="PracticeLessonId" multiple>
                        
                        @foreach (var item in MetaData.basePracticeLesson())
                        {
                            var fromDb = Model?.PackagePracticeLessonRelation?.Select(i => i.PracticeLessonId)?.ToList();
                            var slc = (fromDb != null && fromDb.Contains(item.PracticeLessonId)) ? "selected" : "";

                            @if (fromDb != null && !fromDb.Contains(item.PracticeLessonId))
                            {
                                <option value="@item?.PracticeLessonId">@item?.Name</option>
                            }
                            else
                            {
                                <!option @slc value="@item?.PracticeLessonId">@item?.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="fv-row fv-plugins-icon-container mt-5">
                <label class="required form-label">Kurslar</label>
                <div class="">
                    <select class="form-control selectpicker manytomany" relationName="PackageCourseRelation" propertyName="CourseId" multiple>
                        
                        @foreach (var item in MetaData.baseCourse())
                        {
                            var fromDb = Model?.PackageCourseRelation?.Select(i => i.CourseId)?.ToList();
                            var slc = (fromDb != null && fromDb.Contains(item.CourseId)) ? "selected" : "";

                            @if (fromDb != null && !fromDb.Contains(item.CourseId))
                            {
                                <option value="@item?.CourseId">@item?.Name</option>
                            }
                            else
                            {
                                <!option @slc value="@item?.CourseId">@item?.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>


            <div class="fv-row fv-plugins-icon-container mt-5">
                <label class="required form-label">Sıra</label>
                <input type="text" name="Sira" class="form-control mb-2" value="@(Model?.Sira)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>