@model List<Category>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
                int adet = Convert.ToInt32(pager.PageSize); string orderIcon = pager.OrderWay == "Asc" ? "fa-solid fa-caret-up" : "fa-solid fa-caret-down";
}
<style>
    .orderIcon {
        display: inline-block;
        position: relative;
        right: -10px;
        line-height: 0;
        vertical-align: middle;
        font-size: 1.1rem;
        color: black !important;
    }

    .sortable {
        cursor: pointer;
    }
</style>



<!--begin::Table-->
<div class="table-responsive">
     
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered mb-200">
            <thead>
                <tr>
                    <th style="width:50px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="PagerTopluSecim" />
                        </div>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="CategoryId">
                        # <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Id"?"":"display:none;")"></i>
                    </th>
                    <th scope="col" class="sortable" event="sortable" order="Name">
                        Adı <i class="@orderIcon orderIcon" style="@(pager.OrderBy=="Name"?"":"display:none;")"></i>
                    </th>
                    <th scope="col">Üst Kategori</th>
                    <th scope="col">Grup</th>
                    <th scope="col">Sıra</th>
                    <th scope="col" style="width:65px;">durum</th>
                    <th scope="col" style="width:75px;">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input pager_toplu_secim" type="checkbox" value="@item.CategoryId" />
                            </div>
                        </td>
                        <td scope="row">@item.CategoryId</td>
                        <td>@item.Name</td>
                        <td>@item.Parent?.Name </td>
                        <td>@item.CategoryGroup.Name</td>
                        <td>@item.Sira</td>
                        <td>
                            <div class="badge badge-light-@(item.Aktif ? "success" : "danger")">
                                @(item.Aktif ? "Aktif" : "Pasif")
                            </div>
                        </td>
                        <!--begin::Action=-->
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    İşlemler
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" event="CategoryFormPopup" params='{"id":"@item.CategoryId"}' href="#">Düzenle</a>
                                        <a class="dropdown-item" event="BaseDurum" params='{"id":@item.CategoryId, "url":"/Category/durum", "title":"@(item.Aktif?"Pasif Yap":"Aktif Yap")"}' href="#">
                                            @(item.Aktif ? "Pasif Yap" : "Aktif Yap")
                                        </a>
                                        <a class="dropdown-item" event="BaseSil" params='{"id":@item.CategoryId, "url":"/Category/sil", "title":"Sil"}' href="#">
                                            Sil
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!--end::Action=-->
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning">
            kayıt bulunamadı
        </div>
    }

    

</div>
<div class="row">
    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="dataTables_length" id="kt_ecommerce_products_table_length">
            <label>
                <select class="form-select form-select-sm form-select-solid" id="PagerAdetSelect">
                    <!option value="5" @(adet == 5 ? "selected" : "")>5 adet</!option>
                    <!option value="10" @(adet == 10 ? "selected" : "")>10 adet</!option>
                    <!option value="25" @(adet == 25 ? "selected" : "")>25 adet</!option>
                    <!option value="50" @(adet == 50 ? "selected" : "")>50 adet</!option>
                    <!option value="100" @(adet == 100 ? "selected" : "")>100 adet</!option>
                </select>
            </label>
        </div>
        <div class="mx-2">
            Toplam @pager.TotalItems Kayıttan @pager.ShowingRangeStart - @pager.ShowingRangeEnd arası gösteriliyor
        </div>
    </div>
    @if (pager.TotalPages > 0)
    {
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous @(pager.CurrentPage > 1?"":"disabled")" id="kt_ecommerce_products_table_previous">
                        <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page" page="1">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page" page="@(pager.CurrentPage-1)">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>
                    @for (int _page = pager.StartPage; _page <= pager.EndPage; _page++)
                    {
                        <li class="paginate_button page-item">
                            <a href="#" page="@_page" class="page-link pager-page @(_page==pager.CurrentPage?"active":"")">@_page</a>
                        </li>
                    }

                    <li class="paginate_button page-item next @(pager.CurrentPage < pager.TotalPages?"":"disabled")">
                        <a class="page-link pager-page" href="#" page="@(pager.CurrentPage+1)" @(pager.CurrentPage < pager.TotalPages ? "" : "disabled")>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>

                    <li class="paginate_button page-item">
                        <a class="page-link pager-page" href="#" page="@(pager.TotalPages)">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    }
</div>
<!--end::Table-->
