@model Advisor
@{
    int id = ViewBag.relationId;
}
<form id="AdvisorForm">
    <input type="hidden" name="tempId" value="@(Model?.AdvisorId)" />
    <input type="hidden" name="AdvisorId" value="@(Model?.AdvisorId)" />

    <div class="card card-flush py-4">

        <div class="card-body pt-0">

            <div class="fv-row fv-plugins-icon-container">
                <label class="form-label">Danışmanlık Adı</label>
                <input type="text" name="Name" class="required form-control mb-2" value="@(Model?.Name)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="form-label">Danışmanlık Tipi</label>
                <select class="required form-control selectpicker manytomany" name="Type">
                    <!option value="@(1)">Şeffaf Plak Danışmanlığı</!option>
                    <!option value="@(2)">Vaka Danışmanlığı Danışmanlığı</!option>
                </select>
            </div>


            @if (id == 0)
            {
                <div class="fv-row fv-plugins-icon-container">
                    <label class="form-label">Bitirilmesi Gereken Kurslar</label>
                    <select class="required form-control selectpicker manytomany" relationName="AdvisorCourseRelation" propertyName="CourseId" multiple>
                        @foreach (var item in MetaData.baseCourse())
                        {
                            var fromDb = Model?.AdvisorCourseRelation?.ToList().Select(i => i.CourseId);
                            <!option value="@(item?.CourseId)">@item?.Name</!option>
                        }
                    </select>
                </div>
            }
            @if (id != 0)
            {
                
                <div class="fv-row fv-plugins-icon-container" style="display:none;">
                    <label class="form-label">Paket</label>
                    <select class="required form-control  manytomany" relationName="PackageAdvisorRelation" propertyName="PackageId" multiple>

                        <!option value="@(id)" selected>0</!option>

                    </select>
                </div>
            }

            <div class="fv-row fv-plugins-icon-container">
                <label class="form-label">Ücret</label>
                <input type="text" name="Price" class="required form-control mb-2" value="@(Model?.Price)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="form-label">Para Birimi</label>
                <select class="required form-control selectpicker" name="CurrencyId">
                    @foreach (var item in MetaData.baseCurrency())
                    {
                        var slc = item.CurrencyId == Model?.CurrencyId ? "selected" : "";
                        <option selected="@slc" value="@item.CurrencyId">@item.Name</option>
                    }
                </select>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Eğitmen</label>
                <div class="">
                    <select class="form-control selectpicker" name="LecturerId">
                        
                        @foreach (var item in MetaData.baseLecturer())
                        {
                            var slc = item.LecturerId == Model?.LecturerId ? "selected" : "";
                            <!option selected="@slc" value="@item.LecturerId">@item.Name</!option>
                        }
                    </select>
                </div>
            </div>

            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Sıra</label>
                <input type="text" name="Sira" class="form-control mb-2" value="@(Model?.Sira)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>