@model Course
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int adet = Convert.ToInt32(pager.PageSize);
}


<form id="CourseForm">
    <input type="hidden" name="tempId" value="@(Model?.CourseId)" />
    <input type="hidden" name="CourseId" value="@(Model?.CourseId)" />
    <input type="hidden" name="Aktif" value="@(Model?.Aktif)" />
    <input type="hidden" name="EklemeTarihi" value="@(Model?.EklemeTarihi)" />
    <input type="hidden" name="GuncellemeTarihi" value="@(DateTime.Now)" />
    <input type="hidden" name="Image" value="@(Model?.Image)" />

    <div class="form-group row">
        <div class="col-lg-6">

            <div class="form-group">
                <label>Adı:</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="Kurs adı" value="@(Model?.Name)" />
            </div>
            <div class="form-group mt-5">
                <label>Açıklama:</label>


                <input type="text" name="Description" class="form-control mb-2" placeholder="Kurs adı" value="@(Model?.Description)" />
                

            </div>
            <div class="form-group mt-5">
                <label>Para Birimi:</label>
                <select class="form-control selectpicker" name="CurrencyId">
                    
                    @foreach (var item in MetaData.baseCurrency())
                    {
                        var slc = item.CurrencyId == Model?.CurrencyId ? "selected" : "";
                        <!option @slc value="@item.CurrencyId">@item.Name</!option>
                    }

                </select>
            </div>
            <div class="form-group mt-5">
                <label>Ücret:</label>
                <input type="text" name="Price" class="form-control mb-2" placeholder="Kurs adı" value="@(Model?.Price)" />
            </div>
            <div class="fv-row fv-plugins-icon-container  mt-5">
                <label class="required form-label">Uzmanlık Alanları</label>
                <div class="">
                    <select class="form-control selectpicker manytomany" relationName="ProfessionCourseRelation" propertyName="ProfessionId" multiple>
                        
                        @foreach (var item in MetaData.baseProfession())
                        {
                            var fromDb = Model?.ProfessionCourseRelation?.Select(i => i.ProfessionId)?.ToList();
                            var slc = (fromDb != null && fromDb.Contains(item.ProfessionId)) ? "selected" : "";

                            @if (fromDb != null && !fromDb.Contains(item.ProfessionId))
                            {
                                <option value="@item?.ProfessionId">@item?.Name</option>
                            }
                            else
                            {
                                <!option @slc value="@item?.ProfessionId">@item?.Name</!option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="fv-row fv-plugins-icon-container  mt-5">
                <label class="required form-label">Beceriler</label>
                <div class="">
                    <select class="form-control selectpicker manytomany" relationName="SkillCourseRelation" propertyName="SkillId" multiple>
                        
                        @foreach (var item in MetaData.baseSkill())
                        {
                            var fromDb = Model?.SkillCourseRelation?.Select(i => i.SkillId)?.ToList();
                            var slc = (fromDb != null && fromDb.Contains(item.SkillId)) ? "selected" : "";

                            @if (fromDb != null && !fromDb.Contains(item.SkillId))
                            {
                                <option value="@item?.SkillId">@item?.Name</option>
                            }
                            else
                            {
                                <!option @slc value="@item?.SkillId">@item?.Name</!option>
                            }
                        }

                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Kategori:</label>
                <select class="form-control selectpicker" name="CategoryId">
                    
                    @foreach (var item in MetaData.baseCategory())
                    {
                        var slc = item.CategoryId == Model?.CategoryId ? "selected" : "";
                        <!option @slc value="@item.CategoryId">@item.Name</!option>
                    }

                </select>
            </div>
            <div class="form-group mt-5">
                <label>Sıra:</label>
                <input type="text" name="Sira" class="form-control mb-2" placeholder="Kurs adı" value="@(Model?.Sira)" />
            </div>
            <div class="form-group mt-5">
                <label>Video Kaynağı:</label>
                <input type="text" name="Source" class="form-control mb-2" placeholder="Kurs adı" value="@(Model?.Source)" />
            </div>
            <div class="fv-row fv-plugins-icon-container  mt-5">
                <label class="required form-label">Eğitmenler</label>
                <div class="">
                    <select class="form-control selectpicker manytomany" relationName="LecturerCourseRelation" propertyName="LecturerId" multiple>
                        
                        @foreach (var item in MetaData.baseLecturer())
                        {
                            var fromDb = Model?.LecturerCourseRelation?.Select(i => i.LecturerId)?.ToList();
                            var slc = (fromDb != null && fromDb.Contains(item.LecturerId)) ? "selected" : "";

                            @if (fromDb != null && !fromDb.Contains(item.LecturerId))
                            {
                                <option value="@item?.LecturerId">@item?.Name</option>
                            }
                            else
                            {
                                <!option @slc value="@item?.LecturerId">@item?.Name</!option>
                            }
                        }

                    </select>
                </div>
            </div>

            


        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>