@model Skill;
@{
    int id = ViewBag.relationId;
}
<form id="SkillForm">
    <input type="hidden" name="tempId" value="@(Model?.SkillId)" />
    <div class="card card-flush py-4">
        <div class="card-body pt-0">
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Adı</label>
                <input type="text" name="Name" class="form-control mb-2" placeholder="Beceri adı" value="@(Model?.Name)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            @if (id != 0)
            {
                <select class="form-control  manytomany" relationName="SkillCourseRelation" propertyName="CourseId" multiple style="display:none;">
                    <!option value="@(id)" selected>0</!option>
                </select>
            }
            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Grup</label>
                <div class="col-md-10">
                    <select class="form-control selectpicker" name="SkillGroupId">
                        
                        @foreach (var item in MetaData.baseSkillGroup())
                        {
                            var slc = item.SkillGroupId == Model?.SkillGroupId ? "selected" : "";
                            <!option @slc value="@item.SkillGroupId">@item.Name</!option>
                        }
                    </select>
                </div>
            </div>









            <div class="fv-row fv-plugins-icon-container">
                <label class="required form-label">Sıra</label>
                <input type="text" name="Sira" class="form-control mb-2" placeholder="Sıra" value="@(Model?.Sira)" />
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').select2();
    });
</script>